html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
#rememberMe {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

#root {
  height: 100vh;
}
img {
  max-width: 180px;
  max-height: 100px;
}
* {
  box-sizing: border-box;
}
label {
  color: white;
  float: left;
  padding-left: 10px;
  margin-top: 4px;
}
.LoginOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.LoginInnerContainer {
  width: 20%;
}

.LoginInput {
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .LoginOuterContainer {
    height: 100%;
  }

  .LoginInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

#pwMatchDiv {
  color: red;
  font-size: 1vw;
}
